<h2 mat-dialog-tile> {{ title }} </h2>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup]="form">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <mat-form-field>
          <mat-label>Emërtimi Vizitës</mat-label>
          <input matInput
                 placeholder="Vizitë me ..."
                 formControlName="visit_title"
                 required>
          <mat-error *ngIf="form.get('visit_title')?.invalid || form.get('visit_title')?.dirty || form.get('visit_title')?.touched" >Jepni Emërtimin e Vizitës</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Përshkrimi vizitës </mat-label>
          <input matInput
                 placeholder="Diagnostifikuar me goditje ..."
                 formControlName="prescription"
                 required>
          <mat-error *ngIf="form.get('prescription')?.invalid || form.get('prescription')?.dirty || form.get('prescription')?.touched" >Jepni përshkrimin</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data Regjistrimit</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="registered_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('registered_date')?.invalid || form.get('registered_date')?.dirty || form.get('registered_date')?.touched">Zgjidh një datë regjistrimi!</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <mat-form-field>
          <mat-label>Çmimi i vizitës </mat-label>
          <input matInput
                 placeholder="1000 Lekë, 100 Euro..."
                 formControlName="visit_price"
                 required>
          <mat-error *ngIf="form.get('visit_price')?.invalid || form.get('visit_price')?.dirty || form.get('visit_price')?.touched" >Jepni përshkrimin</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-4">
          <mat-label>Doktori</mat-label>
          <mat-select formControlName="doctor_id" name="doctor_id">
            <mat-option *ngFor="let doctor of allDoctors" [value]="doctor.doctor_id">
              {{doctor.doctor_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mt-4">
          <mat-label>Pacienti</mat-label>
          <mat-select formControlName="patient_id" name="patient_id">
            <mat-option *ngFor="let patient of allPatients" [value]="patient.patient_id">
              {{patient.patient_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Mbyll</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="registerVisit()" [disabled]="form.invalid"> {{buttonName}} </button>
</div>
