<h2 style="font-weight: 700;" class=" d-flex mt-3 justify-content-center" color="primary">Informacione rreth
  Recetës</h2>
<div class="text-center" *ngIf="isLoading">
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status"> Loading...</span>
  </button>
</div>
<mat-card class="m-3" *ngIf="!isLoading">
  <mat-card-title class="pb-2">
    Emri Recetës: <b>{{receiptObj?.receipt_title}}</b>
  </mat-card-title>
  <mat-divider></mat-divider>

  <div class="row pt-3">
    <div class="col-md-6">
      <mat-card-content>
        <span><b>Doktori</b>:</span> {{doctorObj.name}} <br>
        <span><b>Pacienti</b>:</span> {{patientObj.patient_name}}  <br>
        <span><b>Shqetësimi i pacientit:</b></span> {{patientObj.prescription}}  <br>
      </mat-card-content>
    </div>
    <div class="col-md-6">
      <mat-card-content>
        <span> Përshkrimi i recetës: </span> {{receiptObj.prescription}} <br>
        <span> Konsumimi: </span> {{receiptObj.receipt_consumption}} /ditë<br>
        <span> Data Regjistrimit: </span> {{receiptObj.registered_date}}
      </mat-card-content>
    </div>
  </div>
</mat-card>
